
<div class="container w-25 bg-light text-center mt-5 p-5 rounded border">
    <h1>SignUp</h1>
    <form action="" (ngSubmit)="signup()">
        <input [(ngModel)]="email" type="email" class="form-control mt-5" placeholder="Email" name="email2" id="email2">
        <input [(ngModel)]="uname" type="text" class="form-control mt-5" placeholder="Username" name="uname2" id="uname2">
        <input [(ngModel)]="pass" type="password" class="form-control mt-5" placeholder="Password" name="pass2" id="pass2">
        <button class="btn btn-success mt-5" type="submit">SignUp</button>

    </form>
</div>