<div id="carouselExampleInterval" class="carousel slide mslider" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active aslider" data-bs-interval="4000">
        <div class="container-fluid">
          <div class="row">
           <div class="col-md-6 col-sm-12"> <img src="{{slider}}" class="d-block w-100" alt="..."></div >
            <div class="col-md-6 col-sm-12 p-5">
              <h1 class="text-white">Timeo</h1>
              <p class="text-white">You can find the best Smartwatches only here!</p>
              <button class="btn btn-danger p-3 mt-5">Shop Now</button>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item bslider" data-bs-interval="3000">
        <div class="container-fluid">
          <div class="row">
           <div class="col-md-6"> <img src="{{slider}}" class="d-block w-100" alt="..."></div >
            <div class="col-md-6 p-5">
              <h1 class="text-white ">Timeo</h1>
              <p class="text-white">You can find the best Smartwatches only here!</p>
              <button class="btn btn-danger p-3 mt-5">Shop Now</button>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item cslider" data-bs-interval="3000">
        <div class="container-fluid">
          <div class="row">
           <div class="col-md-6"> <img src="{{slider}}" class="d-block w-100" alt="..."></div >
            <div class="col-md-6 p-5">
              <h1 class="text-white">Timeo</h1>
              <p class="text-white">You can find the best Smartwatches only here!</p>
              <button class="btn btn-danger p-3 mt-5">Shop Now</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
